.header-tool-bar{
    --background: #81aba8;
    text-align: center;
    color: white;
    font-weight: bolder;
}
.content-sign{
    --background: #b1ddd9;
}
canvas {
    border: 1px gray;
    width: 100%;
}
.footer-main{
    width: 100%;
    background: #e4ffff;
}
.btns-main {
   width: 30%;
    border: 1px solid;
    margin: 0 15px 0 15px;
}
.btn-wrapper {
    margin: 15px 0 15px 0;
}